---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap" rel="stylesheet">
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
        <!-- Green Header instead of Image -->
        <div style="background-color: #4c18db; height: 200px;"></div>
        <!-- <h1>Your Green Header Title</h1> -->
      <!-- </div> -->
  
    {% if page.header_image %}
    <div class="header-image">
        <img src="{{ page.header_image }}" alt="{{ page.title }} header image">
    </div>
    {% endif %}
    

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
